* {
    box-sizing:  border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
head {
    color: aliceblue;
    background: #353535;

    font-size: 1.2rem;
    padding: 1rem 1.5rem;

    display: flex;
    justify-content: space-between;
}
head > ul {
    display: flex;
    list-style:  none;
    margin:  0;
}

head > ul a {
    color: #ffff;
    padding-right: 2rem;
}

main{
    margin: 0 auto;
    max-width: 1140px;
}